<div class="modal fade" id="add_empresa_modal" tabindex="-1" role="dialog" aria-labelledby="empresaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empresaModalLabel">Registrar Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form class="site-form" action="{% url 'bolsa_trabajo:empresa-add' %}" method="post">
          {% csrf_token %}

          <div class="form-group">
              <label for="nombre-empresa">Nombre</label>
            <input type="text" name="nombre" class="form-control" id="nombre-empresa" placeholder="Nombre de la empresa" required>

            <label for="tel-empresa">Telefono</label>
            <input type="text" name="telefono" class="form-control" id="tel-empresa" placeholder="Telefono" required>

            <hr>

            <p>Dirección</p>

            <label for="calle-empresa">Calle</label>
            <input type="text" name="calle" class="form-control" id="calle-empresa" placeholder="Calle">


            <label for="colonia-empresa">Colonia</label>
            <input type="text" name="colonia" class="form-control" id="colonia-empresa" placeholder="Colonia">


            <label for="numero-empresa">Numero</label>
            <input type="text" name="numero" class="form-control" id="numero-empresa" placeholder="Numero">

            <label for="codigopostal-empresa">Codigo Postal</label>
            <input type="text" name="codigo_postal" class="form-control" id="codigopostal-empresa" placeholder="Codigo Postal">

            <label for="ciudad-empresa">Ciudad</label>
            <input type="text" name="ciudad" class="form-control" id="ciudad-empresa" placeholder="Ciudad">

            <label for="estado-empresa">Estado</label>
            <input type="text" name="estado" class="form-control" id="estado-empresa" placeholder="Estado">

            <label for="pais-empresa">País</label>
            <input type="text" name="pais" class="form-control" id="pais-empresa" placeholder="País">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>

    </form>

    </div>
  </div>
</div>