<div class="modal fade" id="add_contacto_empresa_modal" tabindex="-1" role="dialog" aria-labelledby="contactoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="contactoModalLabel">Registrar Contacto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
      
              <form class="site-form" action="{% url 'bolsa_trabajo:contacto-add' empresa.id %}" method="post">
                {% csrf_token %}
      
                <div class="form-group">

                <input type="hidden" name="empresa" class="form-control" id="empresa-id" value={{empresa.id}}>
                    
                <label for="nombre-contacto">Nombre</label>
                  <input type="text" name="nombre" class="form-control" id="nombre-contacto" placeholder="Nombre completo de contacto" required>
      
                  <label for="tel-contacto">Telefono</label>
                  <input type="text" name="telefono" class="form-control" id="tel-contacto" placeholder="Telefono">

                  <label for="email-contacto">Email</label>
                  <input type="text" name="email" class="form-control" id="email-contacto" placeholder="Email">

                </div>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
      
          </form>
      
          </div>
        </div>
      </div>