{% extends 'base.html' %}
{% load static from staticfiles %}

{% block subtitle %}
Bolsa de Trabajo
{% endblock %}

{% block styles %}

<link rel="stylesheet" href="{% static '/styles/bolsa_trabajo_styles/styles.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center">Bolsa de Trabajo</h1>

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show align-self-center" role="alert">
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <input type="search" id="search" value="" class="form-control" placeholder="Buscar...">
    </div>
  </div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_empresa_modal">
  Registrar Empresa
</button>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Telefono</th>
        <th scope="col">Contacto</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody>
      {% for empresa in empresas %}
      <tr class="clickable-row" data-href="{% url 'bolsa_trabajo:empresa-detail' empresa.id %}">
          <td>{{ empresa.nombre }}</td>
          <td>{{empresa.telefono}}</td>
          <td>{{contacto.nombre}}</td>
          <td>{{empresa.calle}} {{empresa.numero}} {{empresa.colonia}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include 'add_empresa_modal.html' %}



  
{% endblock %}

{% block scripts %}

<script src="{% static 'scripts/bolsa_trabajo_scripts/scripts.js' %}"></script>

<script src="{% static '/plugins/jquery-searchable/jquery.searchable.js' %}"></script>
<script type="text/javascript">
  $(function () {
    $( '.table' ).searchable();
  });
</script>

<script type="text/javascript">
    $(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
{% endblock %}