<div id="delete_empresa_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Confirmar Eliminacion</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
              <p>Desea eliminar a la empresa del sistema?</p>
              <p>También se eliminarán los contactos asociados a la misma.</p>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">
                        Cancelar
                      </button>
      
                      <a class="btn btn-danger" href="{% url 'bolsa_trabajo:empresa-delete' empresa.id %}" role="button">Eliminar</a>
          
            </div>
          </div>
      
        </div>
      </div>