{% extends 'base.html' %}
{% load static from staticfiles %}

{% block subtitle %}
Bolsa de Trabajo
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1 class="text-center">{{empresa.nombre}}</h1>

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show align-self-center" role="alert">
  <ul>

    {% for error in form.non_field_errors %}
    <strong>{{ error }}</strong>
    {% endfor %}

  </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show align-self-center" role="alert">
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="text-left">
    <ul class="list-unstyled">
        <li>Telefono: {{empresa.telefono}}</li>
        <li>Dirección: {{empresa.calle}} #{{empresa.numero}},  Col.{{empresa.colonia}} {{empresa.codigo_postal}}. {{empresa.ciudad}},{{empresa.estado}},{{empresa.pais}}</li>
    </ul>
</div>

<div class="card">
    <div class="card-header">
        Contactos
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_contacto_empresa_modal"><i class="fas fa-plus-square"></i></button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo Electronico</th>
                    <th scope="col"></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos %}
                <tr>
                    
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.telefono }}</td>  
                    <td>{{ contacto.email }}</td> 
                    <td>
                        <a class="btn btn-danger" href="{% url 'bolsa_trabajo:contacto-delete' contacto.id %}" role="button"><i class="fas fa-minus-square"></i></a>

                    </td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#edit_empresa_modal">
                    Editar Información
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_empresa_modal">
                    Eliminar Empresa
            </button>
    </div>
</div>


{% include 'add_contacto_empresa_modal.html' %}
{% include 'delete_empresa_modal.html' %}
{% include 'edit_empresa_modal.html' %}


{% endblock %}


{% block scripts %}


{% endblock %}