{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Cuenta
{% endblock %}

{% block styles %}

<link rel="stylesheet" href="{% static '/styles/account_styles/styles.css' %}">


{% endblock %}


{% block content %}

<div class="container">

    
        <div class="row">
            <div class="col-12">
                <div class="card">
    
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px"
                                        class="img-thumbnail" />
                                    <div class="middle">
                                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{ user.nombre }} {{ user.ap_pat }} {{ user.ap_mat}}</a></h2>
                                    <h6 class="d-block">Carrera: {{user.carrera}}</h6>
                                    <h6 class="d-block">Generación: {{user.generacion}}</h6>
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                            role="tab" aria-controls="basicInfo" aria-selected="true">Informacion Basica</a>
                                    </li>

                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
    
    
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Nombre Completo</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.nombre }} {{ user.ap_pat }} {{ user.ap_mat}}
                                            </div>
                                        </div>
                                        <hr />
    
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Correo Electronico</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.correo }}
                                            </div>
                                        </div>
                                        <hr />
    
    
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Teléfono</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{user.telefono}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Generación</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ user.generacion }}
                                            </div>
                                        </div>
                                        <hr />
    
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success" data-toggle="modal" data-target="#edit_usuario_modal">Actualizar</button>

                    </div>

                </div>
            </div>
        </div>
    

</div>


<div class="modal fade" id="edit_usuario_modal" tabindex="-1" role="dialog" aria-labelledby="editusuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editusuarioModalLabel">Registrar Contacto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
          <form method="POST" action="{% url 'accounts:account' user.matricula %}" >
              {% csrf_token %}
              {{ form|bootstrap }}
      
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
        
          </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

<script src="{% static 'scripts/accounts_scripts/scripts.js' %}"></script>


{% endblock %}