{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Iniciar Sesión
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="login">

  {% if messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
 {% endif %}

 <h1>Iniciar Sesión</h1>

  <form method="POST" action="{% url 'accounts:login' %}" >
      {% csrf_token %}
      <table>
         {{ form|bootstrap }}
         {% if request.GET.next %}
          <input type="hidden" name="next" value="{{ request.GET.next }}">

          {% endif %}
          <tr>
             <td></td>
             <td><input class="btn btn-primary" type="submit" name="submit" value="Iniciar Sesión" /></td>
         </tr>
      </table>
  </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}