{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Registro
{% endblock %}

{% block styles %}
{% endblock %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% block content %}
 <div class="container">
 <h1 class="text-center">Registro</h1>
<form method="POST" action="{% url 'accounts:signup' %}">
  {% csrf_token %}


  {{ form.matricula|bootstrap }}
  {{ form.nombre|bootstrap }}
  {{ form.ap_pat|bootstrap }}
  {{ form.ap_mat|bootstrap }}
  {{ form.carrera|bootstrap }}
  {{ form.generacion|bootstrap }}
  {{ form.correo|bootstrap }}
  {{ form.telefono|bootstrap }}
  {{ form.password1|bootstrap }}
  {{ form.password2|bootstrap }}


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}